## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.vs/
.vscode/
*.swp
*.swo
.idea/

## User-specific
*.rsuser
*.suo
*.user

## Docker
docker-compose.override.yml

## OS
.DS_Store
Thumbs.db
*.zip
